/* Adding custom font - MarlideDisplay (Headers) - START */
@font-face {
  font-family: "Marlide Display";
  src: url("MarlideDisplay_Light.woff2") format("woff2"),
    url("MarlideDisplay_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("MarlideDisplay_Regular.woff2") format("woff2"),
    url("MarlideDisplay_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("MarlideDisplay_Medium.woff2") format("woff2"),
    url("MarlideDisplay_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("MarlideDisplay_Bold.woff2") format("woff2"),
    url("MarlideDisplay_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("MarlideDisplay_ExtraBold.woff2") format("woff2"),
    url("MarlideDisplay_ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("MarlideDisplay_Heavy.woff2") format("woff2"),
    url("MarlideDisplay_Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Adding custom font - MarlideDisplay - END */
