/* Adding google font - EB Garamond (Body) */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for light / dark mode - START */
:root {
  line-height: 1.5;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  --background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background-color);
  overscroll-behavior: contain; /* Avoid scrolling bouncing effects */
  scroll-behavior: smooth;
}
/* Styles for light / dark mode - END */

/* Adding custom font - MarlideDisplay (Headers) - START */
@font-face {
  font-family: "Marlide Display";
  src: url("/fonts/MarlideDisplay_Light.woff2") format("woff2"),
    url("/fonts/MarlideDisplay_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("/fonts/MarlideDisplay_Regular.woff2") format("woff2"),
    url("/fonts/MarlideDisplay_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("/fonts/MarlideDisplay_Medium.woff2") format("woff2"),
    url("/fonts/MarlideDisplay_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("/fonts/MarlideDisplay_Bold.woff2") format("woff2"),
    url("/fonts/MarlideDisplay_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("/fonts/MarlideDisplay_ExtraBold.woff2") format("woff2"),
    url("/fonts/MarlideDisplay_ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marlide Display";
  src: url("/fonts/MarlideDisplay_Heavy.woff2") format("woff2"),
    url("/fonts/MarlideDisplay_Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Adding custom font - MarlideDisplay - END */
